body {
  font-family: "Josefin Sans", sans-serif;
  color: #453229;
  background-color: #ede7d7;
  position: relative;
}

/* UTILITIES */

section {
  padding-top: 100px;
}

.separator-small {
  width: 100px;
  height: auto;
}

h2 {
  font-size: 2.2rem;
}

/* ****************** */

/* HEADER & NAVIGATION */

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url(./../img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.brown-text {
  color: #453229;
}

.logo-img {
  height: 150px;
  width: auto;
  transition: all 0.5s;
}

nav {
  color: transparent;
  transition: all 0.5s;
}

nav li a:link,
nav li a:visited {
  color: #453229;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 2rem;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

nav li a:hover,
nav li a:active {
  color: #a1976b;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid #a1976b;
  transition: all 0.5s;
}

.logo-img-scrolled {
  height: 60px;
  width: auto;
  transition: all 0.5s;
}

.title {
  height: 100vh;
  color: #453229;
}

.title-sub,
.title-thin {
  font-size: 3rem;
}

.title-sub {
  font-weight: 300;
}

/* ****************** */

/* SECTION: INTRO */

.section-intro {
  color: #453229;
  padding-bottom: 100px;
}

.section-intro h2 {
  color: #a1976b;
}

.section-intro p {
  color: #453229;
  font-size: 1.4rem;
}

/* ****************** */

/* SECTION: PRODUCTOS */

.section-productos {
  background: #453229;
  color: #a1976b;
}

.section-productos h3 {
  font-size: 1.8rem;
}

.item-small {
  color: #a19e91;
  font-size: 1rem;
}

.icon-image {
  display: block;
  height: 10vh;
  margin: 15px auto;
}

/* ****************** */

/* SECTION: CONTACTO */

.section-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url(./../img/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: inherit;
  height: 100vh;
}

.section-contacto label {
  color: #453229;
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 1.2rem;
}

.section-contacto input[type="text"],
.section-contacto input[type="email"],
.section-contacto textarea {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 2px 0px;
  text-transform: uppercase;
  border-bottom: 2px solid #453229;
  transition: all 0.5s;
  color: #453229;
}

.section-contacto input[type="text"]:focus,
.section-contacto input[type="email"]:focus {
  border-bottom: 2px solid #91692e;
  transition: all 0.5s;
  color: #91692e;
}

.section-contacto textarea {
  height: 200px;
  max-height: 400px;
}

.section-contacto textarea:focus {
  background-color: transparent;
}

.btn-brown {
  background-color: #453229;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.btn-brown:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #6e5742;
  transition: all 0.5s;
}

.contact-box {
  margin-top: 50px;
}

.contact-box .contact-title {
  font-size: 1.15rem;
  display: block;
  font-weight: 600;
  margin-top: 15px;
}

.contact-box .contact-data {
  font-size: 1.1rem;
}

/* ****************** */

/* FOOTER */

footer {
  padding-top: 50px;
  background-color: #ede7d7;
  color: #453229;
}

footer .link-designer {
  color: #91692e;
  transition: all 0.4s;
  text-decoration: none;
}

footer .link-designer:hover {
  color: #453229;
  transition: all 0.4s;
  text-decoration: none;
}

footer .sm-img-icon {
  transition: all 0.5s;
}

footer .sm-img-icon:hover {
  animation-duration: 2s;
  animation-name: rotate_side;
  animation-iteration-count: infinite;
}

@keyframes rotate_side {
  from {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-15deg);
  }

  66% {
    transform: rotate(15deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/* ****************** */

/* MEDIA QUERIES */

@media (max-width: 767px) {
  .title-sub,
  .title-thin {
    font-size: 2.2rem;
  }

  .box-items {
    padding: 25vh 0;
  }

  .section-contacto {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(./../img/contact-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
  }
}
